In [1]:
import pandas
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Importing dataset

In [14]:
url = 'datasets/AirQualityUCI.csv'
dataSet = pandas.read_csv(url,sep=';')
dataSet = dataSet.iloc[:20, :-2]

In [15]:
dataSet

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578"
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255"
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502"
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867"
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888"
5,10/03/2004,23.00.00,"1,2",1197.0,38.0,"4,7",750.0,89.0,1337.0,96.0,1393.0,949.0,"11,2","59,2","0,7848"
6,11/03/2004,00.00.00,"1,2",1185.0,31.0,"3,6",690.0,62.0,1462.0,77.0,1333.0,733.0,"11,3","56,8","0,7603"
7,11/03/2004,01.00.00,1,1136.0,31.0,"3,3",672.0,62.0,1453.0,76.0,1333.0,730.0,"10,7","60,0","0,7702"
8,11/03/2004,02.00.00,"0,9",1094.0,24.0,"2,3",609.0,45.0,1579.0,60.0,1276.0,620.0,"10,7","59,7","0,7648"
9,11/03/2004,03.00.00,"0,6",1010.0,19.0,"1,7",561.0,-200.0,1705.0,-200.0,1235.0,501.0,"10,3","60,2","0,7517"
10,11/03/2004,04.00.00,-200,1011.0,14.0,"1,3",527.0,21.0,1818.0,34.0,1197.0,445.0,"10,1","60,5","0,7465"
11,11/03/2004,05.00.00,"0,7",1066.0,8.0,"1,1",512.0,16.0,1918.0,28.0,1182.0,422.0,"11,0","56,2","0,7366"
12,11/03/2004,06.00.00,"0,7",1052.0,16.0,"1,6",553.0,34.0,1738.0,48.0,1221.0,472.0,"10,5","58,1","0,7353"
13,11/03/2004,07.00.00,"1,1",1144.0,29.0,"3,2",667.0,98.0,1490.0,82.0,1339.0,730.0,"10,2","59,6","0,7417"
14,11/03/2004,08.00.00,2,1333.0,64.0,"8,0",900.0,174.0,1136.0,112.0,1517.0,1102.0,"10,8","57,4","0,7408"
15,11/03/2004,09.00.00,"2,2",1351.0,87.0,"9,5",960.0,129.0,1079.0,101.0,1583.0,1028.0,"10,5","60,6","0,7691"
16,11/03/2004,10.00.00,"1,7",1233.0,77.0,"6,3",827.0,112.0,1218.0,98.0,1446.0,860.0,"10,8","58,4","0,7552"
17,11/03/2004,11.00.00,"1,5",1179.0,43.0,"5,0",762.0,95.0,1328.0,92.0,1362.0,671.0,"10,5","57,9","0,7352"
18,11/03/2004,12.00.00,"1,6",1236.0,61.0,"5,2",774.0,104.0,1301.0,95.0,1401.0,664.0,"9,5","66,8","0,7951"
19,11/03/2004,13.00.00,"1,9",1286.0,63.0,"7,3",869.0,146.0,1162.0,112.0,1537.0,799.0,"8,3","76,4","0,8393"

splitting data as dependent and independent variables

In [6]:
x = dataSet.iloc[:, [2, 12, 13]].values
y = dataSet.iloc[:, 14].values

In [7]:
for i in range(x.shape[0]):
    x[i] = [float(m.replace(',', '.')) for m in x[i]]
for i in range(y.shape[0]):
    y[i] = float(y[i].replace(',', '.'))
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [8]:
print(x_train,y_train)

[[-200.0 10.1 60.5]
 [1.5 10.5 57.9]
 [1.2 11.3 56.8]
 [1.1 10.2 59.6]
 [1.6 11.2 59.6]
 [2.2 11.9 54.0]
 [1.2 11.2 59.2]
 [2.0 10.8 57.4]
 [0.6 10.3 60.2]
 [1.0 10.7 60.0]
 [1.7 10.8 58.4]
 [0.7 11.0 56.2]
 [2.2 11.0 60.0]
 [2.6 13.6 48.9]
 [2.2 10.5 60.6]
 [0.7 10.5 58.1]] [0.7465 0.7352 0.7603 0.7417 0.7888 0.7502 0.7848 0.7408 0.7517 0.7702
 0.7552 0.7366 0.7867 0.7578 0.7691 0.7353]

Linear Regression

In [9]:
classifier = LinearRegression()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

In [16]:
print(y_test)
print(y_pred)

[0.7951 0.7255 0.8393 0.7648]
[0.80471314 0.73051062 0.87521464 0.76717675]